body {
  background-color: #244855 !important;
}

.App {
  color: #fafafa;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.input-ingredient {
  background-color: transparent !important;
  color: #fafafa !important;
  border: 0;
}
